.intro {
  text-align: left;
  margin: auto;
  width: 60%;
}

.skills {
  text-align: left;
  margin: auto;
  width: 60%;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: black;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

#subtitle {
  color: black;
  font-family: 'Kiwi Maru', serif;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #28527a;
  text-decoration: none;
}

li {
  text-align: justify;
  line-height: 2;
  font-size: 1.2rem;
  margin: auto;
  width: 70%;
}

p {
  line-height: 2;
  font-size: 1.5rem;
}

@media (max-width: 880px) {
  p {
    line-height: 2;
    font-size: 1.2rem;
  }
  .intro{
    margin: auto;
    width: 100%;
  }
  .skills {
    margin: 30px auto 100px auto;
    text-align: left;
    width: 100%;
  }
}

.top-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 40px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.middle-container{
  margin: 100px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.intro{
  margin: auto;
  width: 60%;
}

hr{
  margin: 100px auto;
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 4%
}

.skills {
  margin: 30px auto 100px auto;
  text-align: left;
  width: 60%;
}

.code-img{
  float: left;
  margin-right: 30px;
}

.cloud-img{
  float: right;
  margin-left: 30px;
}

.cabecalho {
  text-align: center;
  margin-top: 50px;
}

.skill-desc {
  text-align: justify;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

span {
  text-decoration: underline;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link{
  color: #1b2021;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.nav-item {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
}

.nav-link:hover{
  color: #EAF6F6;
}

.navbar-brand {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  font-size: 1.5rem;
  line-height: 2;
}

.nav-brand:hover{
  color: #EAF6F6;
}

.footer-link:hover{
  color: #EAF6F6;
  padding: 20px 0;
}

.rights{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
}
/* Estilos para os itens de publicação */
/* Estilo dos itens de publicação */
.publication-item {
  margin-bottom: 2em;
  padding: 1em;
  text-align: left;
  border-bottom: 0; /* Remove a linha separadora */
  list-style-type: none; /* Remove os marcadores da lista */
}

/* Estilo do título do artigo */
.publication-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #66BFBF;
  text-decoration: none;
  display: block;
}

/* Estilo dos autores */
.publication-authors {
  font-size: 1rem;
  color: #555;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.publication-authors span {
  text-decoration: none;
}

/* Container dos botões */
.publication-buttons {
  margin-top: 1em;
  display: flex;
  gap: 0.5em; /* Espaçamento entre os botões */
  align-items: center;
}

/* Estilo dos botões */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center; /* Garante o alinhamento do texto dentro do botão */
}

/* Estilo do botão PDF */
.pdf-button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

/* Ícone do PDF */
.pdf-icon {
  width: 24px;
  height: 24px;
  background-image: url('/assets/img/pdf-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

/* Estilo do botão Abstract */
.abstract-button {
  background-color: #6c757d;
  color: #fff;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 0.3em; /* Ajusta o arredondamento do botão */
}

.btn:hover {
  opacity: 0.8;
}

/* Adicionalmente, ajuste para que os botões se ajustem corretamente em telas menores */
@media (max-width: 880px) {
  .publication-buttons {
      flex-direction: column;
  }
}

/* Estilo para o nome em negrito */
.bold-author {
  font-weight: bold;
}
